body {
    align-items: center;
    display: flex;
    font-size: 0;
    height: 100vh;
    justify-content: center;
}
svg {
    margin: 0 10vw 0 0 ;
    width: 30vw;
}
svg:last-of-type {
    margin: 0;
}