body {
    background: url(../images/html5.svg) no-repeat;
    background-position: 97% 95%;
    background-size: 5%;
    height: 100vh;
    margin: 0;
}
html {
    background: linear-gradient(#000, white) no-repeat;
    height: 100vh;
}